### Maven ###
/target/classes/
/target/test-classes/
/target/maven-status/
/target/maven-archiver/
/target/generated-sources/
/target/generated-test-sources/
/target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot resources - exclude compiled/generated resources but keep source templates and configs
!/src/main/resources/templates/
/src/main/resources/application*.properties
/src/main/resources/application*.yml

# Test directory - exclude compiled but keep source tests
!/src/test/java/

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/

### Git ###
backup.patch

# Package Files #
*.json
*.lst
*.properties
*.yml
*.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*