### Maven ###
pom.xml
/target/classes/
/target/test-classes/
/target/maven-status/
/target/maven-archiver/
/target/generated-sources/
/target/generated-test-sources/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot resources
/src/main/resources/
/src/test/

### VS Code ###
.vscode/

# Package Files #
*.json
*.lst
*.properties
*.yml


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*